body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-head {
    background-color: blue;
    color: white;
    text-align: center;
}
p {
   font-size: 20px;
   text-align: center;
}
/*index page list for color of recipes*/

li {
    font-size: 18px;
}
.bana {
    color: rgb(216, 216, 22);
}
.choc {
    color: rgb(211, 83, 9);
}
.muf {
    color: goldenrod;
}