body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-head {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    margin: auto;
    border: 10px black;
    height: 25px;
    width: 300px;

}
p {
   font-size: 20px;
   text-align: center;
}
/*index page list for color of recipes*/

li {
    font-size: 18px;
    margin: 25px;
    border: 20px black;
}
.bana {
    color: rgb(216, 216, 22);
}
.choc {
    color: rgb(211, 83, 9);
}
.muf {
    color: goldenrod;
}